:root {
  --background-primary-color: #044040;
  --background-secondary-color: #d92525;
  --background-tertiary-color: #591c21;

  --text-primary-color: #8c1f28;
  --text-secondary-color: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-primary-color);
}

h1 {
  font-size: 40px;
  color: var(--text-primary-color);
  font-family: "Alata", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
