main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container img {
  width: 200px;
  height: 200px;
}

form {
  text-align: center;
  padding: 20px;
  margin-bottom: 80px;
}

label {
  color: var(--text-secondary-color);
  text-align: center;
  margin-bottom: 30px;
  font-family: "SN Pro", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

input {
  margin: 8px;
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  border: none;
}

input[type="password"] {
  margin-bottom: 10px;
}

input:invalid {
  border-color: red;
}
input:valid {
  border-color: green;
}

small {
  font-family: "Lato", sans-serif;
  margin-bottom: 10px;
  padding: 10px;
}

a {
  text-decoration: underline;
  font-family: "Alata", sans-serif;
  color: var(--text-secondary-color);
}

button {
  color: var(--text-secondary-color);
  margin: 10px;
  font-family: "Alata", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--background-secondary-color);
  width: 200px;
  height: 50px;
  border-radius: 20px;
  border: none;
  transition: 0.5s;
}

button:hover {
  background-color: var(--background-tertiary-color);
  color: var(--text-secondary-color);
}
.error-message {
  text-align: center;
  margin-top: 15px;
  color: #ff6b6b;
  font-weight: bold;
  height: 20px;
}

@media screen and (min-width: 768px) {
  main {
    height: 100vh;
  }

  .login-container {
    width: 50vh;
  }
}

@media screen and (min-width: 1024px) {
  main {
    height: 100%;
  }

  .login-container {
    margin: 20px auto;
    width: 50%;
  }
}

@media screen and (min-width: 1920px) {
  main {
    height: 100%;
  }

  .login-container {
    margin: 20px auto;
    width: 50%;
  }
}

