main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}

.main-login {
display: none;
}

.main-login h1{
  text-align: start;
  font-size: 3vw;
  margin: 20px;
}

.login-rigth {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bg_container {
  display: none;
}

.card {
  width: 90%;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 35px;
  background: var(--background-primary-color);
  box-shadow: 0 10px 40px #051d1d;
}

form {
  text-align: center;
  padding: 20px;
  margin-bottom: 80px;
}

label {
  color: var(--text-secondary-color);
  text-align: center;
  margin-bottom: 30px;
  font-family: "SN Pro", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

input {
  background-color:  transparent;
  color: var(--text-secondary-color);
  margin: 8px;
  border-radius: 20px;
  width: 100%;
  font-size: 12px;
  padding: 10px;
  box-shadow: 0 10px 40px #021d1d;

}


input::placeholder{
  color: var(--text-secondary-color);
}

input[type="password"] {
  margin-bottom: 10px;
}



small {
  font-family: "Lato", sans-serif;
  margin-bottom: 10px;
  padding: 10px;
}

a {
  text-decoration: underline;
  font-family: "Alata", sans-serif;
  color: var(--text-secondary-color);
}

button {
  color: var(--background-primary-color);
  margin: 10px;
  font-family: "Alata", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  background-color:#021d1d;
  width: 100%;
  padding: 16px 0px;
  letter-spacing: 3px;
  border-radius: 20px;
  border: none;
  transition: 0.5s;
  
}

button:hover {
  background-color: var(--background-tertiary-color);
  color: var(--text-secondary-color);
  box-shadow: 0px 10px 40px -12px #0d9696;
}
.error-message {
  text-align: center;
  margin-top: 15px;
  color: #ff6b6b;
  font-weight: bold;
  height: 20px;
}

@media screen and (min-width: 768px) {
  main {
    height: 100vh;
  }

  .login-container {
    width: 50vh;
  }
}

@media screen and (min-width: 1024px) {
  main {
    height: 100%;
  }

.main-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


  .bg_container {
    display: block;
    margin: 10px ;
  }

  .image{
    width: 35vw;
  }
  .bg_container h1 {
    color: var(--text-secondary-color);
    text-transform: none;
  }

  .bg_container p {
    color: var(--background-secondary-color);
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1920px) {
  main {
    height: 100%;
  }

  .main-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


  .bg_container {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto;
  }

  .punk {
    width: 600px;
    height: 500px;
  }

  .bg_container h1 {
    color: var(--text-secondary-color);
    text-transform: none;
  }

  .bg_container p {
    color: var(--background-secondary-color);
    margin-bottom: 20px;
  }
}
